@import "tailwindcss";

@font-face {
  font-family: "fuenteVolvo";
  src: url("/public/fonts/volvoCentum_SBd.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light;
}
html,
body,
#root {
  height: 100%;
  font-family: "fuenteVolvo";
}
